<p id="notice"><%= notice %></p>

<h1 class='text-center'>Listing Groups</h1>

<table class='table'>
  <thead class='thead-inverse'>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Is private</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @groups %>
  </tbody>
</table>
<br>

<%= link_to 'New Group', new_group_path %>
